@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

h1,
h2 {
  font-family: 'Sacramento', cursive;
}

body,
html {
  height: 100vh;
  background-color: #f8f9fa;
}

/* Navbar */
#main-nav {
  transition: top 0.3s;
}

.nav-item a {
  cursor: pointer !important;
}

.navbar {
  border-bottom: 3px solid #fc0349;
  opacity: 0.9;
}

.navbar button {
  border: none;
  outline: none;
}

/* About us section */

#sobre-nos .home-inner {
  padding-top: 150px;
}

/* Carousel section */
#carousel {
  background-color: #e05151;
}

/* Values section */
#valores i {
  color: #ed0735;
  padding: 5px;
  border: 3px solid #6e2b02;
  border-radius: 5px;
}

/* More collapsible text */
.more {
  display: none;
}

.more-trigger {
  cursor: pointer;
}

.less-trigger {
  display: none;
}

/* Pedagogic section */
#projeto-pedagogico {
  min-height: 700px;
  background-color: #5cc7ed;
}

/* Program section */
#programa .fa-book {
  border: 3px solid #6e2b02;
  padding: 10px;
  border-radius: 5px;
}

/* Matrículas */
#matriculas {
  background-color: #fff3b2;
}

#matriculas .fas {
  border: 2px solid #571f09;
  padding: 5px;
  border-radius: 5px;
}

#matriculas .list-group-item {
  width: 70%;
}

#matriculas img {
  background-color: #fff;
  width: 70%;
}

/* Material */
#material .row .fas {
  border: 3px solid #571f09;
  padding: 5px;
  color: #ed0735;
  border-radius: 5px;
}

#material h4 .fas {
  color: #571f09;
}

/* Footer */
footer img {
  width: 25%;
}

/* Contact us message */
#submit-alert {
  display: none;
}

.envelope {
  color: #4287f5;
}

.whatsapp {
  color: #4fce5d;
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  .navbar-brand {
    font-size: 0.8em;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .nav-item {
    font-size: 0.8em;
  }
}
