body,
html {
  height: 100vh;
  background-color: #f8f9fa;
}

/* Navbar */
#main-nav {
  transition: top 0.3s;
}

.nav-item a {
  cursor: pointer !important;
}

.navbar {
  border-bottom: 3px solid #fc0349;
  opacity: 0.9;
}

.navbar button {
  border: none;
  outline: none;
}

/* About us section */
#sobre-nos {
  background: url('../img/Fachada.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
  color: #fff;
}

#sobre-nos .bg-dark-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

#sobre-nos .home-inner {
  padding-top: 150px;
}

/* Carousel section */
#carousel {
  background-color: #e05151;
}

/* Values section */
#valores i {
  color: #ed0735;
  padding: 5px;
  border: 3px solid #6e2b02;
  border-radius: 5px;
}

/* More collapsible text */
.more {
  display: none;
}

.more-trigger {
  cursor: pointer;
}

.less-trigger {
  display: none;
}

/* Pedagogic section */
#projeto-pedagogico {
  min-height: 700px;
  background-color: #5cc7ed;
}

/* Program section */
#programa .fa-book {
  border: 3px solid #6e2b02;
  padding: 10px;
  border-radius: 5px;
}

/* Matrículas */
#matriculas .fas {
  border: 2px solid #571f09;
  padding: 5px;
  border-radius: 5px;
}

#matriculas .list-group-item {
  width: 70%;
}

#matriculas img {
  background-color: #fff;
  width: 70%;
}

/* Contact us message */
#submit-alert {
  display: none;
}

.envelope {
  color: #4287f5;
}

.whatsapp {
  color: #4fce5d;
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  .navbar-brand {
    font-size: 0.8em;
  }
}
